<div class="flex flex-col">
    <h1 class="text-2xl">YNAB-Investec</h1>
    <p>
        This app keeps my YNAB account in sync with my bank account (Investec South Africa)
        with the magic of
        <a class="text-blue-500 underline hover:text-blue-700"
           href="https://www.investec.com/en_za/banking/tech-professionals/programmable-banking.html"
           target="_blank">
            programmable banking
        </a>.
    </p>
    <p>
        There's nothing much to see here but if you're interested, here's
        <a class="text-blue-500 underline hover:text-blue-700"
           href="https://github.com/darryldaniel/ynab-investec"
           target="_blank">
            the source code
        </a>.
    </p>
</div>
